.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'h h h'
    'c c c';
    grid-template-rows: 60px 1fr;
    grid-auto-columns: 2fr 10fr;
    width: 100%;
    height: 100vh;
    /*grid-gap: 10px;*/
}



.app-wrapper-content {
    grid-area: c;
    display: grid;
    background-color: #fae6f6;
    grid-template-areas:
    'n d';
    grid-auto-columns: 2fr 10fr;
}