.dialogsItem {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-area: d;
}

.dialogs {
    padding: 20px;
}

.active {
    /*color: darkorange;*/
}

.messages {
    padding: 20px;
}

button{
    height: 30px;
    width: 200px;
}
