.title{
    color: darkred;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 90px;
}

.item img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 10px;
}

